{% extends "admin/base.html" %}
{% load admin_static %}

{# Additional <head> content here, some extra meta tags or favicon #}
{#{% block extrahead %}#}
{#{% endblock %}#}


{# Additional CSS includes #}
{#{% block extrastyle %}#}
{# <link rel="stylesheet" type="text/css" href="{% static 'css/my_project.css' %}" media="all">#}
{#{% endblock %}#}


{# Additional JS files in footer, right before </body> #}
{#{% block extrajs %}#}
{# <script type="text/javascript" src="{% static 'js/my_project.js' %}"></script>#}
{#{% endblock %}#}


{# Footer links (left side) #}
{#{% block footer_links %}#}
{# <a href="/docs/" class="icon"><i class="icon-question-sign"></i>Documentation</a>#}
{#{% endblock %}#}

{# Additional header content like notifications or language switcher #}
{% block header_content %}
 {{ block.super }}
 <div class="header-content">
 <!-- First icon column -->
 Custom Template
 </div>
{% endblock %}

{# Footer branding name (center) #}
{% block footer_branding %}
Fake Agency
{% endblock %}


{# Footer copyright (right side) #}
{% block copyright %}
 Copyright &copy; 2013 Client<br>Developed by <a href="#" target="_blank">FakeAgency</a>
{% endblock %}