{% extends "base.html" %}
{% load staticfiles %}

# header - title
{% block title %}Contact{% endblock title %}

{% block stylesheets %}
{{ block.super }}
<style>
    .map img{
        max-width: none !important;
    }
</style>
{% endblock %}

# nav - current page
{% block navcontact %}class="current-page"{% endblock navcontact %}

# body - content
{% block content %}

{% include "_title.html" with class="icon-envelope-alt" name="Contact" description="Keep in touch" %}

        <!-- Contact Us -->
        <div class="contact-us container">
            <div class="row">
                <div class="contact-form span7">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper <a href="">suscipit lobortis</a> nisl ut aliquip ex ea commodo consequat.</p>
                    
                    {% if form.errors %} 
					<h4 class="text-error"> 
					Please correct the error{{ form.errors|pluralize }} below. 
					</h4> 
					{% endif %} 
                    
                    <form method="post" action="{% url 'contact' %}">
                        {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}
                    	{% csrf_token %}
                    	
                    	{% for field in form %}
	        				<div class="{% if field.errors %}violet{% endif %} {% if field.field.required %}required{% endif %} ">
		            			{{ field.label_tag }}
		            			{{ field }}
								{{ field.errors }}
	        				</div>
    					{% endfor %}

                        <button type="submit">Send</button>
                    </form>

                </div>
                <div class="contact-address span5">
                    <h4>We Are Here</h4>
                    <div id="map_canvas" class="map"></div>
                    <h4>Address</h4>
                    <p>Lomas altas <br> Basement =(</p>
                    <p>Phone: 123 21312 123123</p>
                </div>
            </div>
        </div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>


<script type="text/javascript" src="http://jquery-ui-map.googlecode.com/svn/trunk/ui/min/jquery.ui.map.full.min.js"></script>
<script type="text/javascript" src="http://jquery-ui-map.googlecode.com/svn/trunk/ui/jquery.ui.map.extensions.js"></script>



<script>
jQuery(document).ready(function() {

    var myLatlng = new google.maps.LatLng(19.397023,-99.226965);
    var mapcenter = new google.maps.LatLng(19.401023,-99.226965);
    var img = "{% static 'ico/apple-touch-icon-57-precomposed.png' %}";

    var myOptions = {
        zoom: 15,
        center: mapcenter,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        disableDefaultUI:true
    }

    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    var contentString = '<img src="' + img + '" style="float:left;margin-right:5px">'+
        '<div><h5 style="margin:0">Fake Agency</h5>'+
        '<div style="font-weight:normal;font-size:small">Lorem Ipsum</div></div>';

    var infowindow = new google.maps.InfoWindow({
        content: contentString,
        boxStyle: { 
            pixelOffset: new google.maps.Size(0, 10)
        }
    });

    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title:"Fake Agency",
        animation: google.maps.Animation.DROP,
        /*icon: img*/
    });

    google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
    });
    
    setTimeout(function() {
      infowindow.open(map,marker);
    }, 2000);
    

});
</script>
{% endblock scripts %}