<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title></title>
</head>
<body>
	<table style="font-size:14px: font-family:Arial, Helvetica, sans-serif" width="300" align="center">
		<tbody>
			<tr>
				<th colspan="2" height="35" style="font-size:16px">New contact message in Fake Agency</th>
			</tr>
			<tr>
				<td valign="top" height="22" width="40%">From:</td>
				<td valign="top" width="60%">{{ name }}</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>{{ email }}</td>
			</tr>
			<tr>
				<td>Message:</td>
				<td>{{ message }}</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</body>
</html>