{% extends "base.html" %}

# header - title
{% block title %}Thank you{% endblock title %}

# nav - current page
{% block navcontact %}class="current-page"{% endblock navcontact %}

# body - content
{% block content %}

{% include "_title.html" with class="icon-envelope-alt" name="Contact" description="Keep in touch" %}

<div class="presentation container thanks">
    <h2><span class="violet">Thank you {{ name | capfirst }}</span></h2>
    <p>We'll give you a replay soon</p>
</div>

{% endblock content %}
