{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
	{{ block.super }}
{% endblock stylesheets %}

{% block content %}


	<!-- Testimonials -->
	{% if testimonials %}
		<div class="testimonials container">
            <div class="testimonials-title">
                <h3>Testimonials</h3>
            </div>

            <div class="row">
                <div class="testimonial-list span12">
                    <div class="tabbable tabs-below">
                        <div class="tab-content">
                        	{% for t in testimonials %}
                            <div class="tab-pane {%if forloop.first %}active{% endif %}" id="{{ t.pk }}">
                                <img src="{{ MEDIA_URL }}{{ t.avatar }}" title="" alt="">
                                <p>"{% filter force_escape %}{{ t.testimonial }}{% endfilter %}"<br /><span class="violet">{{ t.name }}, {{ t.urlname }}</span></p>
                            </div>
                            {% endfor %}
                        </div>
                       	<ul class="nav nav-tabs">
                       	{% for t in testimonials %}
                           <li class="{%if forloop.first %}active{% endif %}"><a href="#{{ t.pk }}" data-toggle="tab"></a></li>
                        {% endfor %}
                       	</ul>
                   	</div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock content %}