{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Ooops!!</title>
	<link rel="shortcut icon" href="{% static 'ico/favicon_cabeza.ico' %}">
    <link rel="icon" href="{% static 'ico/favicon_cabeza.ico' %}" type="image/x-icon">
</head>

<style type="text/css">
	body{
		background: url({% static 'img/error500.jpg' %}) no-repeat top center;
	}
</style>
<body>
</body>
</html>