<!-- Page Title -->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12">
                <i class="{{ class }} page-title-icon"></i>
                <h2>{{ name }} /</h2>
                <p>{{ description }}</p>
            </div>
        </div>
    </div>
</div>