{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Fake Agency{% endblock title %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fake Agency site">
    <meta name="author" content="citmusa">

    <!-- CSS -->
    {% block stylesheets %}
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    {% endblock stylesheets %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="{% static 'ico/favicon_cabeza.ico' %}">
    <link rel="icon" href="{% static 'ico/favicon_cabeza.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}">
</head>
<body>
	<!-- Header -->
	<nav class="container">
		<div class="header row">
			<div class="span12">
				<div class="navbar">
					<div class="navbar-inner">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <h1>
                            <a class="brand" href="">Fake Agency... cause we say so</a>
                        </h1>

                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right">
                                <li {% block navhome %}{% endblock navhome %}>
                                    <a href="{% url 'home' %}"><i class="icon-home"></i><br />Home</a>
                                </li>
                                <li {% block navportfolio %}{% endblock navportfolio %}>
                                    <a href="{% url 'portfolio' %}"><i class="icon-camera"></i><br />Portfolio</a>
                                </li>
                                <li {% block navservices %}{% endblock navservices %}>
                                    <a href="{% url 'services' %}"><i class="icon-tasks"></i><br />Services</a>
                                </li>
                                <li {% block navabout %}{% endblock navabout %}>
                                    <a href="{% url 'about' %}"><i class="icon-user"></i><br />About</a>
                                </li>
                                <li {% block navcontact %}{% endblock navcontact %}>
                                    <a href="{% url 'contact' %}"><i class="icon-envelope-alt"></i><br />Contact</a>
                                </li>
                            </ul>
                            </div>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<!-- Content -->
	{% block content %}
    {% endblock content %}

	<!-- Footer -->
	<footer>
            <div class="container">
                <div class="row">
                    <div class="widget span3">
                        <h4>Lorem ipsum</h4>
                        <p>dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                        <p><a href="#">Read more...</a></p>
                    </div>
                    <div class="widget span3">
                        <h4>Lorem ipsum</h4>
                        <p>dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                    <div class="widget span3">
                        <h4>Lorem ipsum</h4>
                        <p>dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                    <div class="widget span3">
                        <h4>Lorem ipsum</h4>
                        <p>dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
                <div class="footer-border"></div>
                <div class="row">
                    <div class="copyright span4">
                        <p>Copyright 2013.</p>
                    </div>
                    <div class="social span8">
                        <a class="facebook " href=""></a>
                        <a class="twitter " href=""></a>
                        <a class="pinterest " href=""></a>
                        <a class="bitbucket" href=""></a>
                    </div>
                </div>
            </div>
        </footer>
		
		<!-- Javascript -->
        {% block scripts %}
        <script src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% endblock scripts %}
        
</body>
</html>