{% extends "base.html" %}
{% load staticfiles %}

{% block navhome %}class="current-page"{% endblock navhome %}

{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
	<link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">
{% endblock stylesheets %}

{% block content %}
    {% include "_slider.html" %}

    {% include "_servicesgrid.html" %}  

    {% if works %}
        <!-- Latest Work -->
        <div class="portfolio container">
            <div class="portfolio-title">
                <h3>Our Latest Work</h3>
            </div>
            <div class="row">
                {% for item in works %}            
                <div class="work span3">
                    <img src="{{ MEDIA_URL }}{{ item.image }}" alt="{{item.title}}">
                    <h4>{{ item.title }}</h4>
                    <p>{{ item.description }}</p>
                    <div class="icon-awesome">
                        <a class="portfolio_zoom" href="{{ MEDIA_URL }}{{ item.image }}" rel="prettyPhoto"><i class="icon-search"></i></a>
                        <a class="portfolio_link" href="{% url 'portfolio' %}"><i class="icon-link"></i></a>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    {% endif %}

       {% include "_testimonials.html" %}

{% endblock content %}


{% block scripts %}
	{{ block.super }}
	<script src="{% static 'js/jquery.flexslider.js' %}"></script>
	<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
	<script>
		jQuery(document).ready(function() {
			
			$("a[rel^='prettyPhoto']").prettyPhoto({social_tools: false});

		    $('.flexslider').flexslider({
		        animation: "slide",
		        controlNav: "thumbnails"
		    });
		});
	</script>
{% endblock scripts %}