
{% extends "base.html" %}
{% load staticfiles %}

# header - title
{% block title %}Portfolio{% endblock title %}


{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">
{% endblock stylesheets %}

# nav - current page
{% block navportfolio %}class="current-page"{% endblock navportfolio %}

# body - content
{% block content %}

{% include "_title.html" with class='icon-camera' name='Portfolio' description='The road so far' %}

<!-- Portfolio -->
        <div class="portfolio portfolio-page container">
            <div class="row">
                <div class="portfolio-navigator span12">
                    <h4 class="filter-portfolio">
                        <a class="all" id="active-imgs" href="#">All</a> /
                        {% for cat in categories %}
                            <a class="{{ cat.name|slugify }}" id="" href="#"><i class="{{ cat.icon_class }}"></i>{{ cat.name|upper }}</a>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </h4>
                </div>
            </div>

            <div class="row">
                <ul class="portfolio-img">
                    {% for work in works %}
                    <li data-id="p-{{ forloop.counter }}" data-type="{% for cat in work.category.all %}{{ cat|slugify }} {% endfor %}" class="span3">
                        <div class="work">
                            <a href="{{ MEDIA_URL }}{{work.image}}" rel="prettyPhoto">
                                <img src="{{ MEDIA_URL }}{{work.image}}" alt="">
                            </a>
                            <h4>{{ work.title }}</h4>
                            <p>{{ work.description }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

{% endblock content %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/jquery.quicksand.js' %}"></script>
<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script>
jQuery(document).ready(function() {
    $("a[rel^='prettyPhoto']").prettyPhoto({social_tools: false});

    $clientsHolder = $('ul.portfolio-img');
    $clientsClone = $clientsHolder.clone(); 
 
    $('.filter-portfolio a').click(function(e) {
        e.preventDefault();
        $filterClass = $(this).attr('class');
 
        $('.filter-portfolio a').attr('id', '');
        $(this).attr('id', 'active-imgs');
 
        if($filterClass == 'all'){
            $filters = $clientsClone.find('li');
        }
        else {
            $filters = $clientsClone.find('li[data-type~='+ $filterClass +']');
        }
 
        $clientsHolder.quicksand($filters, {duration: 700}, function() {
            $("a[rel^='prettyPhoto']").prettyPhoto({social_tools: false});
        });
    });

});
</script>
{% endblock scripts %}